@mixin letter-size() {
  width: $letter-width;
  height: $letter-height;
}

@mixin subcolumn($number-of-columns, $margin, $padding) {
  margin-top: 0;
  margin-bottom: $margin;
  padding: 0 $padding;

  @if $number-of-columns == auto {
    flex-basis: auto;
  } @else {
    flex-basis: 100% / $number-of-columns;

    @for $i from 1 through $number-of-columns {
      &:nth-last-child(#{$i}) {
        margin-bottom: 0;
      }
    }

    &:nth-child(#{$number-of-columns}n+1) {
      padding-left: 0;
    }

    &:nth-child(#{$number-of-columns}n) {
      padding-right: 0;
    }
  }
}
