.column {
  $prefix: column;

  &--left,
  &--right {
    flex-grow: 1;
    flex-basis: 0;
    padding: $page-spacing;
    padding-bottom: 0;
  }

  &--right {
    padding-right: 0;

    .#{$prefix}__section__content {
      padding-left: 0.1rem;
    }
  }

  &--left {
    padding-left: 0;

    .#{$prefix}__section__content {
      padding-right: 0.1rem;
    }

    .#{$prefix}__section header {
      text-align: right;
    }
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: $column-section-spacing;
    }

    &__content {
      margin-top: 2rem;

      > section:not(:first-child) {
        margin-top: 2rem;
      }
    }

    &--with-subcolumns {
      .#{$prefix}__section__content {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.separator {
  width: 1px;
  height: 100%;
  display: block;
  background-color: $dark;
}
